.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-nav {
    margin-left: 200px;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    display: none;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

ul.list-unstyled.mt-3.mb-4 {
    border-right: 1px dotted white;
}

.nav-link {
    color: black !important;
    display: block;
    border-right: 1px dotted black;
    font-size: 14.5px;
    font-weight: 700;
    padding: 0px 10px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.5s;
}

.dropdown-menu {
    position: absolute;
    display: none;
    background-color: dodgerblue;
    margin: 10px;
    padding: 10px 5px;
    z-index: 999;
    font-size: 14px;
}

.dropdown-item {
    font-size: 14px;
    color: white;
}

.form-login {
    width: 25%;
    padding-top: 60px;
    margin-left: 40%;
}


/* .h5,
h5 {
    text-align: center;
} */


/* {padding: 0; margin: 0;}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
 
    pointer-events: none;
} 
*/