.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-toggle::after {
    display: none;
}

.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

/* footer */
ul.list-unstyled.mt-3.mb-4 {
    
}

/* navbar */
.nav-link {
    color: black !important;
    display: block;
    border-right: 1px dotted black;
    border-left: 1px dotted black;;
    font-size: 14.5px;
    font-weight: 700;
    padding: 0px 10px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.5s;
}

.dropdown-menu {
    position: absolute;
    display: none;
    background-color: dodgerblue;
    margin: 10px;
    padding: 10px 5px;
    z-index: 999;
    font-size: 14px;
}

.dropdown-item {
    font-size: 14px;
    color: white;
}

.navbar-nav {
    margin-left: 150px;
}

/* login */
.form-login {
    width: 25%;
    padding-top: 60px;
    margin-left: 40%;
}

/* topics */
.container .row .title .section ul li a{
    border-bottom: 1px solid #e0e0e0;
    display: block;
    padding: 5px 0px 5px 0px;
    transition: all 0.3s;
    text-decoration: none;
    color: blue;
    font-size: 15px;
}
.container .row .title .section ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s;
}

.container{
    padding-top: 15px;
}
.ts{
    padding-bottom: 10px;
}

/* .h5,
h5 {
    text-align: center;
} */


/* {padding: 0; margin: 0;}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
 
    pointer-events: none;
} 
*/